[defaults]
roles_path = roles
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
deprecation_warnings = False
inject_facts_as_vars = False
# Don't show diffs for templates (may contain secrets)
display_skipped_hosts = False

[privilege_escalation]
# Disabled by default - tasks that need sudo use become: yes explicitly
become = False
become_method = sudo
become_ask_pass = False

