## address of the sync server
sync_address = "{{ atuin_sync_address }}"

## Defaults to true. If enabled, upon hitting enter Atuin will immediately execute the command. Press tab to return to the shell and edit.
enter_accept = true

[sync]
records = true
